# First print your name in the cell below then save this file. (or something nice about your instructor)

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [128]:
# In this cell print your name 
print("Maryam Kurbanova")

Maryam Kurbanova

# Load in the data file using `pd.read_csv()`
df=pd.read_csv('data/listings.csv')
df.head();

In [129]:
import pandas as pd
import numpy as np

In [151]:
# Load data here
df=pd.read_csv('data/listings.csv')
df.head();

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [152]:
# 1. How many listings are there with a price less than 100? 

price_filter=df[df['price']<100]

print(price_filter.shape[0])

22778

In [184]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn_filter=df[df['neighbourhood_group']=='Brooklyn']

print(brooklyn_filter.shape[0])

18632

In [185]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

brooklyn_price_filter=df[(df['price']<100)&(df['neighbourhood_group']=='Brooklyn')]

print(brooklyn_price_filter.shape[0])

10473

In [186]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

host_filter=df[df['host_name'].isin(['Micheal','David','John','Daniel'])]
print(host_filter.shape[0])

874

In [187]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
df['adjusted_price']=df['price']

df.loc[df['neighbourhood']=='Williamsburg','adjusted_price']+=100

print(df[['neighbourhood','price','adjusted_price']])

            neighbourhood  price  adjusted_price
0                 Midtown    175             175
1            Clinton Hill     75              75
2      Bedford-Stuyvesant     60              60
3             Sunset Park    175             175
4          Hell's Kitchen     65              65
...                   ...    ...             ...
46522            Gramercy    145             145
46523  Washington Heights     87              87
46524       East Flatbush     59              59
46525     Upper West Side     80              80
46526           Gravesend     66              66

[46527 rows x 3 columns]

In [188]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

room_type_percentage=df['room_type'].value_counts(normalize=True)*100

print(room_type_percentage)

room_type
Entire home/apt    51.578653
Private room       45.444581
Shared room         2.121349
Hotel room          0.855417
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [189]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

df.groupby('neighbourhood').size()

neighbourhood
Allerton            43
Arden Heights        5
Arrochar            20
Arverne             71
Astoria            874
                  ...
Windsor Terrace    145
Woodhaven           94
Woodlawn            12
Woodrow              1
Woodside           344
Length: 222, dtype: int64

In [190]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

df.groupby('neighbourhood')['price'].mean()

neighbourhood
Allerton            92.813953
Arden Heights      119.200000
Arrochar           125.050000
Arverne            249.070423
Astoria             97.297483
                      ...
Windsor Terrace    129.744828
Woodhaven           71.989362
Woodlawn            99.166667
Woodrow            700.000000
Woodside            61.473837
Name: price, Length: 222, dtype: float64

In [191]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
df.groupby('room_type')['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [192]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
df.groupby('neighbourhood')['price'].agg(['min','max'])

                 min   max
neighbourhood
Allerton          30   914
Arden Heights     36   185
Arrochar          32   696
Arverne           36  1500
Astoria           24  1900
...              ...   ...
Windsor Terrace   30   995
Woodhaven         23   288
Woodlawn          30   250
Woodrow          700   700
Woodside          20   299

[222 rows x 2 columns]

In [193]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
df.groupby(['neighbourhood','room_type'])['price'].median()

neighbourhood  room_type
Allerton       Entire home/apt    100.5
               Private room        48.0
Arden Heights  Entire home/apt    156.0
               Private room        80.5
Arrochar       Entire home/apt    139.0
                                  ...
Woodlawn       Private room        55.5
Woodrow        Entire home/apt    700.0
Woodside       Entire home/apt    114.0
               Private room        40.5
               Shared room         38.0
Name: price, Length: 568, dtype: float64

In [194]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.


df.groupby(['neighbourhood','room_type'])['price'].agg(['count','max','min','median','std','mean'])

                               count  max  min  median         std        mean
neighbourhood room_type
Allerton      Entire home/apt     16  914   55   100.5  206.939564  157.375000
              Private room        27  123   30    48.0   21.351154   54.555556
Arden Heights Entire home/apt      3  185   94   156.0   46.486557  145.000000
              Private room         2  125   36    80.5   62.932504   80.500000
Arrochar      Entire home/apt      9  696   68   139.0  202.364770  219.666667
...                              ...  ...  ...     ...         ...         ...
Woodlawn      Private room         6   75   30    55.5   23.653752   53.500000
Woodrow       Entire home/apt      1  700  700   700.0         NaN  700.000000
Woodside      Entire home/apt     51  299   60   114.0   55.391229  132.176471
              Private room       288  179   20    40.5   24.828181   49.020833
              Shared room          5  150   30    38.0   51.853640   57.600000

[568 rows x 6 columns]

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [195]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices=pd.read_csv('data/prices.csv')
listings=pd.read_csv('data/listings.csv')

In [196]:
# 2. Do join that keeps all the records for each table.

joined_df=pd.merge(prices,listings,on='neighbourhood_group',how='outer')

In [197]:
# 3. Save your joined csv as `joined.csv` into the data folder. 

joined_df.to_csv('joined.csv', index='False')

In [198]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

loaded_df=pd.read_csv('joined.csv')
print(loaded_df.equals(joined_df))

False

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.
Dask to install do: pip install dask

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.